.navigation__list {
    list-style-type: none;
}

.navigation__item {
    text-align: center;
    margin: 5px auto;
}

.navigation__link {
    display: block;
    color: #fbfbfb;
    padding: 15px;
    max-width: 200px;
    background-color: hsl(233, 29%, 12%);
    border-radius: 20px;
    text-decoration: 51px;
}

.navigation__link:hover {
    background-color: hsl(233, 29%, 30%);
}

.navigation__link:active {
    background-color: hsl(233, 29%, 45%);
}