.navigation__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    list-style-type: none;
}

@media(max-width: 767px) {
    .navigation__list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.navigation__item {
    text-align: center;
}

.navigation__link {
    display: block;
    color: #fbfbfb;
    padding: 15px;
    width: 200px;
    background-color: hsl(233, 29%, 12%);
    border-radius: 20px;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: hsl(233, 29%, 30%);
}

.navigation__link:active {
    background-color: hsl(233, 29%, 45%);
}