.section {
    box-shadow: 5px 5px 10px #777;
}

.section__image {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 15%;
    box-shadow: 3px 3px 10px 5px #979797;
}

.section__imageOff {
    display: none;
}

.section__paragraph {
    padding: 10px;
}

.section__link {
    text-decoration: none;
    color: currentColor;
}

.section__contact {
    text-align: center;
}

.section__contactOff {
    display: none;
}

.section__button {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #fbfbfb;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    background-color: hsl(233, 29%, 12%);
    border: 1px solid #979797;
}

.section__button:hover {
    background-color: hsl(233, 29%, 30%);
}

.section__button:active {
    background-color: hsl(233, 29%, 45%);
}