html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background: #fbfbfd;
    color: #242d35;
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
}